.BannerPannel{
  height: 400px;
}
@media (max-width:768px){
  .BannerPannel{
    height: 200px;
    background-image: url(https://e0.pxfuel.com/wallpapers/864/76/desktop-wallpaper-nba-for-pc-and-mobile-for-iphone-android-basketball.jpg);
  }
}