.topPlayer{
  margin-top: -10px;
  background: linear-gradient(90deg, rgba(253,186,34,1) 0%, rgba(180,13,242,1) 100%);
} 

.tp_div{
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.778);
}

.tp_Title{
  color: white;
}

.player{
  width: 250px;
  height: 350px;
  background: none;
  border-radius: 1rem;
}

.swiper-container1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 100%;
}

.tp-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px){
  .tp_grid{
    grid-template-columns: repeat(1,1fr);
  }  
  .swiper-wrapper{
    padding-bottom: 10rem;
  }
  .tp_grid{
    margin-right: -30px;
    margin-top: -10px;
  }
}

@media(max-device-width: 1024px) {
  .player{
    width: 150px;
    height: 250px;
    background: none;
    border-radius: 1rem;
  }
  .tp_Grid_Container{
    padding-right: 70px;
  }
}