.topTeam{
  margin-top: -10px;
  background: linear-gradient(90deg, rgba(253,186,34,1) 0%, rgba(180,13,242,1) 100%);
} 

.tt_div{
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.778);
}

.tt_Title{
  color: white;
}

.team{
  width: 350px;
  height: 250px;
  background: none;
  border-radius: 1rem;
}


.swiper-container2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 100%;
}

.tp-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 640px){
  .tt_grid{
    grid-template-columns: repeat(1,1fr);
  }
}